
body {
  position: relative;
  transition: 1s;
  z-index: 0;
  height: 1000px;
  overflow: hidden;
}
#home {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: rgb(87, 86, 86);
}

a {
  color: rgb(94, 93, 93);
}

a:hover{
  color: rgb(5, 5, 5);
  text-decoration: none;
}

.slideOutOne {
  background-color: rgb(214, 146, 146);
  top: 5vh !important;
  bottom: 95vh;
  z-index: 1 !important;
  transition: 1s;
  position: absolute;
  text-align: center;
  width: 100%;
}
.slideOutTwo {
  background-color: rgb(228, 65, 65);
  top: 10vh !important;
  z-index: 1 !important;
  transition: 1s;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 95vh;
}

#one {
  position: absolute;
  width: 100%;
  top: 90vh;
  bottom: 0;
  border: solid 1px black;
  background-color: rgb(230, 159, 230);
  transition: 1s; 
  text-align: center;
  z-index: 1;
}

#two{
  position: absolute;
  width: 100%;
  top: 95vh;
  bottom: 0;
  border: solid 1px black;
  background-color: rgb(111, 167, 114);
  transition: 1s; 
  text-align: center; 
  z-index: 2;
}

.header {
  height: 10vh;
  border-bottom: 1px solid black;
}


::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  /* background: transparent;  optional: just make scrollbar invisible */
}

.content {
  height: 90vh;
  overflow: scroll;
}


