.tab {
  margin-top: 38vh;
  padding-left: 20%;
  text-transform: uppercase;
  font-size: 15px;
  width:5px;
  word-wrap: break-word;
  font-family: monospace;
  color: rgb(87, 86, 86);
  
}

#home {
  margin-top: 39vh;
  text-transform: uppercase;
  font-size: 15px;
  width:5px;
  word-wrap: break-word;
  font-family: monospace;
  color: rgb(87, 86, 86);
  position: fixed;
  left: 2%;
}

.container {
  display: inline-block;
}

a {
  color: rgb(94, 93, 93);
}

a:hover{
  color: rgb(5, 5, 5);
  text-decoration: none;
}

#sideContainer {
  top: 0;
  right: 0;
  position: fixed;
}

.slideOutOne {
  background-color: white;
  left: 4% !important;
  z-index: 1 !important;
  transition: 1s;
}
.slideOutTwo {
  background-color: white;
  left: 8% !important;
  z-index: 1 !important;
  transition: 1s;
}


.side-tab {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(252, 250, 250);
  border: solid .5px rgb(219, 218, 218);
  display: inline-block;
  border-radius: 20px 0 0 20px;
  box-shadow: -5px 0px 5px 1px #f1f1f1;
  transition: 1s;
  overflow: scroll;
}

#one {
  position: fixed;
  left: 90%;
  z-index: 1;
}

#two {
  z-index: 2;
  position: fixed;
  left: 95%;
}

.container {
  padding-right: 5%;
  z-index: 0;
}

.header {
  height: 10vh;
  border-bottom: 1px solid black;
}

.tab-container {
  border: solid 1px black;  
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 90%;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  /* background: transparent;  optional: just make scrollbar invisible */
}
